# Backend Environment Variables
PORT=5000
MONGODB_URI=mongodb+srv://Healthcare:Healthcare@healthcare.v60erxm.mongodb.net/
FRONTEND_URL=http://localhost:5173

# Firebase Service Account (absolute path to your serviceAccount.json)
FIREBASE_SERVICE_ACCOUNT_PATH=./firebaseServiceAccount.json
